__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/
example_output/

unequal_duration_output/
unequal_duration_output.zip
cpet_tutorial_output/
cpet_tutorial_output.zip
.ipynb_checkpoints/
